@using Microsoft.AspNetCore.Identity
@using MVCPrbSol.Services
@inject UserManager<PSUser> UserManager
@inject IPSAccessService AccessService
@inject IPSProjectService _projectService

@{
    ViewData["Title"] = "Dashboard";
    var userId = await UserManager.GetUserAsync(User);
    var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Problem Solver">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful">
   
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Problem Solver | Welcome </title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=2.1.0">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.1.0">
  
    <!-- Morris StyleSheet  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <link href="~/css/app.min.css" rel="stylesheet" />
</head>

<!-- main header  -->
<div class="nk-header nk-header-fluid is-theme">
    <div class="container-xl wide-xl">
        <div class="nk-header-wrap">

            <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-menu"></em></a>
            </div>
            <!--    ------------------------------------------------------------------------------------------------------------------------------------------------------------------>
            <div class="nk-header-brand">
                <a href="html/index.html" class="logo-link">
                    @*//comment out original art for Templete*@
                    <img src="~/images/logo-darkPSsmall.png" />

                </a>
            </div><!-- .nk-header-brand -->

            <div class="nk-header-menu" data-content="headerNav">
                <div class="nk-header-mobile">
                    <div class="nk-header-brand">
                        <a href="html/index.html" class="logo-link">
                            <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div>
            </div><!-- .nk-header-menu -->

        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>
<!-- main header  -->


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">All Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">All Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TicketComments" asp-action="Index">All Comments</a>
                        </li>

                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a>
                            </li>

                            @*<li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="UserTickets">User Tickets</a>
                                </li>*@
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">Manage User Roles</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Problem Solver by Josh Scott - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    @*<script src="~/js/Datatables/jquery.dataTables.min.js"></script>
        <script src="~/js/Datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/Datatables/dataTables.buttons.min.js"></script>
        <script src="~/js/Datatables/buttons.colVis.min.js"></script>
        <script src="~/js/Datatables/buttons.flash.min.js"></script>
        <script src="~/js/Datatables/buttons.html5.min.js"></script>
        <script src="~/js/Datatables/buttons.print.min.js"></script>
        <script src="~/js/Datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/js/Datatables/dataTables.responsive.min.js"></script>
        <script src="~/js/Datatables/responsive.bootstrap4.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- for datatables to work on all shared  _Layout pages -->
    @RenderSection("Scripts", required: false)
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.myTable').DataTable({
                searching: true
            });
            $('#anotherTable').DataTable({
                searching: false
            });
        });
    </script>

    @*<script>
            $('#datatableDefault').DataTable({
                dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-right'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'mr-auto'i><'mb-0'p>>",
                lengthMenu: [10, 20, 30, 40, 50],
                responsive: true,
                buttons: [
                    { extend: 'print', className: 'btn btn-default' },
                    { extend: 'csv', className: 'btn btn-default' }
                ]
            });
        </script>*@
</body>
</html>