@page
@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forget your password?";
}

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Josh Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful issue tracker application">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Problem Solver | Sign In</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=2.1.0">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.1.0">

    <link href="~/css/app.min.css" rel="stylesheet" />
</head>

<body>
    <!-- BEGIN #app -->
    <div id="app" class="app app-full-height app-without-header">
        <!-- BEGIN login -->
        <div class="login">
            <!-- BEGIN login-content -->
            <div class="login-content">
                <form id="account" method="post">
                    <h1 class="text-center">Recover Password</h1>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg fs-15px" placeholder="username@address.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block fw-500 mb-3">Submit</button>
                    </div>
                    <div class="form-group">
                        <div class="text-center text-muted">
                            Back to <a asp-area="Identity" asp-page="/Account/Login">Sign In</a>.
                        </div>
                    </div>
                </form>
            </div>
            <!-- END login-content -->
        </div>
        <!-- END login -->
        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
    </div>


    <script src="~/js/app.min.js"></script>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
@*//Sat*@