@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Problem Solver | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="~/css/app.min.css" rel="stylesheet" />
</head>

<body>
    <!-- BEGIN #app -->
    <div id="app" class="app app-full-height app-without-header">
        <!-- BEGIN register -->
        <div class="register">
            <!-- BEGIN register-content -->
            <div class="register-content">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="POST" name="register_form">
                    <h1 class="text-center">Sign Up</h1>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName">First Name <span asp-validation-for="Input.FirstName" class="text-danger">*</span></label>
                        <input asp-for="Input.FirstName" type="text" class="form-control form-control-lg fs-15px" placeholder="John" value="" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName">Last Name <span asp-validation-for="Input.LastName" class="text-danger">*</span></label>
                        <input asp-for="Input.LastName" type="text" class="form-control form-control-lg fs-15px" placeholder="Smith" value="" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Email Address <span asp-validation-for="Input.Email" class="text-danger">*</span></label>
                        <input asp-for="Input.Email" type="text" class="form-control form-control-lg fs-15px" placeholder="username@address.com" value="" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Password <span asp-validation-for="Input.Password" class="text-danger">*</span></label>
                        <input asp-for="Input.Password" type="password" class="form-control form-control-lg fs-15px" value="" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Confirm Password <span asp-validation-for="Input.ConfirmPassword" class="text-danger">*</span></label>
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg fs-15px" value="" />
                    </div>
                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg fs-15px fw-500 btn-block">Sign Up</button>
                    </div>
                    <div class="text-muted text-center">
                        Already a user? <a asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                    </div>
                </form>
            </div>
            <!-- END register-content -->
        </div>
        <!-- END register -->
        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
    </div>
    <!-- END #app -->
    
    <script src="~/js/app.min.js"></script>
  

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>@*//Sat*@