@model MVCPrbSol.Models.ViewModels.HomePMViewModel
@inject MVCPrbSol.Services.IPSRolesService _rolesService
@inject Microsoft.AspNetCore.Identity.UserManager<PSUser> _userManager
@inject MVCPrbSol.Services.IPSProjectService _projectService


@{
    ViewData["Title"] = "Dashboard";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _rolesService.ListUserRoles(user);
    string roleName = "";
    foreach (var role in roles)
    {
        if (role != "Demo")
        {
            roleName = role;
        }
    }
}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-auto">
                <h1>Welcome back, @user.FirstName</h1>
                <h4>Role --> <u>@roleName</u></h4>
            </div>

            <!-- start widget -->
            <div class="state-overview">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="info-box bg-b-green">
                            <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Students</span>
                                <span class="info-box-number">450</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 45%"></div>
                                </div>
                                <span class="progress-description">
                                    45% Increase in 28 Days
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="info-box bg-b-yellow">
                            <span class="info-box-icon push-bottom"><i class="material-icons">person</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">New Students</span>
                                <span class="info-box-number">155</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 40%"></div>
                                </div>
                                <span class="progress-description">
                                    40% Increase in 28 Days
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="info-box bg-b-blue">
                            <span class="info-box-icon push-bottom"><i class="material-icons">school</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Course</span>
                                <span class="info-box-number">52</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%"></div>
                                </div>
                                <span class="progress-description">
                                    85% Increase in 28 Days
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="info-box bg-b-pink">
                            <span class="info-box-icon push-bottom">
                                <i class="material-icons">monetization_on</i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Fees Collection</span>
                                <span class="info-box-number">13,921</span><span>$</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 50%"></div>
                                </div>
                                <span class="progress-description">
                                    50% Increase in 28 Days
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                </div>
            </div>
            <!-- end widget -->

            <!--Charts-->
            <div class="row g-gs">
                <div class="col-md-4">
                    <div class="card card-preview">
                        <div class="card-inner">
                            <div class="card-head text-center">
                                <h6 class="title">Pie Chart</h6>
                            </div>
                            <div class="nk-ck-sm">
                                <canvas class="pie-chart" id="pieChartData"></canvas>
                            </div>
                        </div>
                    </div><!-- .card-preview -->
                </div>
                <div class="col-md-4">
                    <div class="card card-preview">
                        <div class="card-inner">
                            <div class="card-head text-center">
                                <h6 class="title">Doughnut Chart</h6>
                            </div>
                            <div class="nk-ck-sm">
                                <canvas class="doughnut-chart" id="doughnutChartData"></canvas>
                            </div>
                        </div>
                    </div><!-- .card-preview -->

                </div>
            </div>
        </div>

@section scripts {
    <script>
        InitDonut('@Url.Action("PieData", "Charts")');
        InitBarChart('@Url.Action("BarData", "Charts")');
    </script>
}