@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to (P.S.) - The Problem Solver!</h1>
    <p>Learn about Josh Scott<a href="https://josh-scott-portfolio.netlify.app />building Check out my other work here</a>.</p>
</div>
<div id="myfirstchart" style="height: 250px;"></div>
@section Scripts{
<script>
    //step 1 construct the URL need to request the data
    var Url = `@Url.Action("GetDemoChartDAta", "Charts")`; //represent the endpoint

    //step 2 start the structure for our AJAX call
    $.post(Url).then(function (response) {
        new Morris.Bar({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: response,
            // The name of the data record attribute that contains x-values.
            xkey: 'priority',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['count'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Count']
        });
    });
</script>

}