@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to (P.S.) - The Problem Solver!</h1>
    <p>Learn about Josh Scott<a href="https://josh-scott-portfolio.netlify.app/>building Check out my other work here</a>.</p>
</div>
