@{
    Layout = null;
}

<head>
     <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Problem Solver">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful tracking system to maintain an accurate record of the software development process on a per-project basis">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Problem Solver | Welcome </title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=2.1.0">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.1.0">
   
    <link href="~/css/app.min.css" rel="stylesheet" />
</head>
<!--  -->
@*<body>*@
    @*<div id="app" class="app app-full-height app-without-header">
        <div class="error-page">
            <div class="error-page-content">

                <h1>The Problem Solver</h1><hr />
                <h3>Problem Solver is a Ticket Tracking Web Application that allows teams to work on several projects and tickets at the same time.</h3><br />
>*@

<body class="nk-body npc-invest bg-lighter ">
    <div class="nk-app-root">
        <!-- wrap  -->
        <div class="nk-wrap ">

            <!-- main header  -->
            <div class="nk-header nk-header-fluid is-theme">
                <div class="container-xl wide-xl">
                    <div class="nk-header-wrap">

                        <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-menu"></em></a>
                        </div>

                        <div class="nk-header-brand">
                            <a href="html/index.html" class="logo-link">
                                @*//comment out original art for Templete*@
                               <img src="~/images/logo-darkPSsmall.png" />
                              
                                @*<img class="logo-light logo-light" src="~/images/logo-dark.png" srcset="~/images/logo-dark2x.png 2x" alt="logo">
                                <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">*@
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-menu" data-content="headerNav">
                            <div class="nk-header-mobile">
                                <div class="nk-header-brand">
                                    <a href="html/index.html" class="logo-link">
                                        <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                        <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                    </a>
                                </div>
                                <div class="nk-menu-trigger mr-n2">
                                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                                </div>
                            </div>
                        </div><!-- .nk-header-menu -->

                    
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header  -->
            <!-- content  -->
            <div class="nk-content nk-content-fluid text-center">
                <div class="container-xl wide-xl">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <h1>Welcome to the Problem Solver</h1>

                            <br />
                            <p>
                                The Bug Tracker is a Web-based software application designed to mirror any of a wide variety of bug tracking software systems in use by corporations throughout world.

                                This project is to be built as a Web-based service application using the Microsoft Visual Studio 2019 IDE, MVC, MS Code-First database schema using Entity Framework with user- and role-level security, and web pages built with HTML5, Twitter Bootstrap, and model binding with Razor.
                                This project is hosted on-line through Heroku.com Platform as a Service.
                            </p>
                           
                            <p>
                            </p>
                            <p></p>
                            <!-- button begin-->
                            <div class="nk-content nk-content-fluid p-3 p-lg-5">
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-primary btn-block">Try it out!</a>
                            </div>
                            <!-- button end-->
                             <br />

                            <img src="~/images/Problem Solver222222.PNG" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- content end-->

            

        </div>
        <!--  -->

        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!--</div>-->
        <!--  -->
        <!--<script src="~/js/app.min.js"></script>

                <script src="~/js/jquery.plugin.js"></script>
        <script src="~/js/jquery.countdown.js"></script>
        </body>-->
        <!-- footer  -->
        <div class="nk-footer nk-footer-fluid bg-lighter">
            <div class="container-xl">
                <div class="nk-footer-wrap">
                    <div class="nk-footer-copyright">
                        &copy; 2020 Problem Solver by <a href="https://josh-scott-portfolio.netlify.app/" target="_blank">Josh Scott</a>
                    </div>
                    <div class="nk-footer-links">
                        <ul class="nav nav-sm">
                            <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer  -->
        <!-- wrap  -->
    </div>
    <!-- app-root  -->
    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=2.1.0"></script>

    <script src="./assets/js/scripts.js?ver=2.1.0"></script>
</body>
